<link rel="shortcut icon" href="/images/profile.png" type="image/x-icon">

<h1>Hello, You are on <%= title %> page</h1>
<h3>Codeial / <%= title %></h3>

<p>name: <%= user.name %></p>
<p>email: <%= user.email %></p>