#feed-post{
    text-align: left;
    width: 70%;
    min-width: 300px;
}
.post-textarea {
    padding: 5px 15px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .post-textarea::-webkit-scrollbar {
    width: 0; 
  }
.post-btn{
    border-radius: 20px;
    border: 1px solid black;
    padding: 1px 5px;
}
.post{
    font-size: 20px;
}
.post-comments{
    margin-top: 10px;
    font-size: 1rem;
}
.comment-form{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.comment-input{
    width: auto;
    height: 15px;
    font-size: 0.8rem;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 3px 10px;
}
.comment-btn{
    width: auto;
    height: 23px;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid black;
    padding: 3px 10px;
    margin-left: 10px;
}
.post-comments-list{
    max-height: 200px;
    overflow-y: scroll;
}
.comments-list{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.comment{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    width: auto;
    margin: 2px 0;
    font-size: 1rem;
    display: inline-block;

}


#user-friends{
    width: 30%;
    TEXT-ALIGN: left;
    PADDING-LEFT: 20PX;
    BOX-SIZING: BORDER-BOX;
}
