* {
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
header {
  background-color: aqua;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aqua;
  padding: 10px;
}
